@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}

.circles {
  height: 21rem;
  width: 21rem;
  background: #1db954;
  border-radius: 20rem;
  position: absolute;
}

#circle1 {
  top: 4vh;
  left: -13vw;
}

#circle2 {
  bottom: -2vh;
  right: -10.3vw;
}

body {
  overflow: hidden !important;
}

main {
  position: absolute;
  height: 95vh;
  width: 100vw;
  top: 0;
}

main .container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

main .container__title {
  font-size: 2.45rem;
  font-weight: 600;
  margin-top: 1rem;
}

main .container__form {
  height: 89%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container__form .container__form--field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 66%;
  position: relative;
}

main .container__form .container__form--field__label {
  font-weight: 300;
  width: 98%;
  text-align: left;
  margin-bottom: 0.4rem;
}

main .container__form .container__form--field__data {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-bottom: 1rem;
}

main .container__form .container__form--field__data__input {
  width: 100%;
  background: transparent;
  outline: none;
  border: 1px solid #f3f3f3;
  padding: 0.2rem;
  padding-left: 2.2rem;
  border-radius: 0.4rem;
  height: 2.2rem;
  color: white;
  font-family: inherit;
}

main .container__form .container__form--field__data__input--icon {
  position: absolute;
  left: 0;
  color: #fafafa;
  z-index: 2;
  padding-left: 0.3rem;
  margin-left: 0.3rem;
  font-size: 1.2rem;
}

main .container__form .container__form--field__data--show {
  position: absolute;
  right: 0;
  outline: none;
  background: transparent;
  border: none;
  font-family: inherit;
  color: rgba(29, 185, 84, 0.5);
  font-weight: 500;
  margin-right: 0.7rem;
  font-size: 0.68rem;
  cursor: pointer;
}

main .container__form .container__form--field__data--show:hover {
  color: #1db954;
}

main .container__form--submit {
  width: 20%;
  margin-top: 1rem !important;
}

main .container__form--submit__btn {
  font-family: inherit;
  background: #1DB954;
  color: #fff;
  border-radius: 4rem;
  font-weight: 600;
  outline: none;
  border: none;
  width: 100%;
  height: 2rem;
  cursor: pointer;
}

main .container__form--login {
  margin-top: 0.2rem;
}

main .container__form--login__text {
  font-size: 0.8rem;
  font-family: 300;
}

main .container__form--login__link {
  color: #1db954;
  font-weight: 500;
  font-size: 0.87rem;
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=signup.css.map */