head 
    title Eventiro - Sign Up 
    link(rel="stylesheet", href="/static/css/signup.css")
    link(rel="stylesheet", href="/static/css/home.css")
    link(rel="shortcut icon", href="/static/img/favicon.png", type="image/x-icon")
    script(src="https://kit.fontawesome.com/9031ae7b04.js", crossorigin="anonymous")
    script(src="/static/js/show.js", defer)