doctype html
head
  link(rel='stylesheet', href='create.css')
  link(rel='shortcut icon', href='/favicon.png')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap', rel='stylesheet')
header
  nav.navbar
    a.navbar__logo(href='/')
      img.navbar__logo--img(src='/static/img/logo.png')
main
  .container
    a.container__back(href='/')
    a.container__title Create Event
// add a back function on this button
button.back &lt;
h1.createEvent Create Event
form(action='/create', method='POST')
  label(for='name') Event Name
  input(name='name', type='text', placeholder='Event Name here')
  label(for='startDate') Start Date
  input(name='startDate', type='date', placeholder='start')
  label(for='endDate') End Date 
  input(name='endDate', type='date', placeholder='end')
  label(for='maxMembers') Max Members 
  input(name='maxMembers', type='number', placeholder='Maximum Members')
  label(for='description') Description 
  input(name='description', type='text', placeholder='descrption here')
  label(for='location') Location
  input(name='location', type='text', placeholder='location of the event')
  input.submitButton(type='submit')
  p= error
  p
