.event 
    .event__details
        .event__details--data
            .event__details--data__title Deadly Meeting
            .event__details--data__host (Elon Musk)
        .event__details--members 88 Members
        .event__details--share
            button.event__details--share__button
                i.fas.fa-share-alt.event__details--share__button--icon
    .event__main
        .event__main__members
            .event__main__members--pfp
                img(src="/static/img/elonMusk.jpg").event__main__members--pfp__img
            .event__main__members--pfp
                img(src="/static/img/steveJobs.png").event__main__members--pfp__img
            .event__main__members--pfp +86
        .event__main__description
            p.event__main__description--text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus voluptatum sed quisquam rerum dolor, amet soluta aperiam quas reprehenderit enim eum. Quia vel fuga quaerat ullam dolorem? Ullam Lorem ipsum dolor sit amet consectetur adipisicing elit. A, illo! Recusandae saepe illum omnis inventore.
        .event__actions
            button.event__actions--join Ask to Join 
            button.event__actions--info Get Required Info