doctype html
html 
    head
        title Eventiro Join
        style.
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
            body{
                font-family: 'Poppins';
                overflow-x: hidden;
                background: #0b0b0b;
                color: #fff;
            }
            p{
                font-size: 2rem;
                width: 100vw;
                text-align: center;
                margin-top: 5rem;
            }
    body
        p=msg
        p=error
