form(action="/login" method="POST")
    input(name="email",type="email" placeholder="email")
    input(name="password",type="password" placeholder="pass")
    input(type="submit")

    p= error
    p= msg
