form(action="/register" method="POST")
    input(name="firstName",type="text" placeholder="firstName")
    input(name="lastName",type="text" placeholder="lastName")
    input(name="email",type="email" placeholder="email")
    input(name="password",type="password" placeholder="pass")
    input(name="userName",type="text" placeholder="uname")
    input(type="submit")

    p= error
    p= msg
